<div class="dropdown">
  <button
    #originEl
    cdkOverlayOrigin
    #origin="cdkOverlayOrigin"
    type="button"
    class="dropdown-trigger"
    aria-haspopup="listbox"
    [class.is-open]="isOpen()"
    [attr.aria-expanded]="isOpen()"
    [attr.aria-controls]="'dropdown-panel'"
    (click)="toggle()"
    (keydown)="onTriggerKeydown($event)"
  >
    <span class="dropdown-trigger__text">{{ displayValue() }}</span>
    <span
      class="dropdown-trigger__arrow"
      [class.is-open]="isOpen()"
    >
      <svg
        class="dropdown-icon dropdown-icon--chevron"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path d="M7 10l5 5 5-5z" />
  </svg>
</span>

  </button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'dropdown-backdrop'"
    [cdkConnectedOverlayWidth]="originEl.offsetWidth"
    (backdropClick)="close()"
  >
    <div id="dropdown-panel" class="dropdown-panel" role="listbox">
      @for (item of items; track item.value) {
        @let isSelected = selectedValue() === item.value;
        <button
          #optionEl
          type="button"
          class="dropdown-option"
          role="option"
          [disabled]="item.disabled ?? false"
          [class.is-selected]="isSelected"
          [attr.aria-selected]="isSelected"
          (click)="select(item)"
        >
          <span class="dropdown-option__text">{{ item.label }}</span>

          @if (isSelected) {
            <span class="dropdown-option__check">
              <svg
                class="dropdown-icon dropdown-icon--check"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path d="M9 16.2l-3.5-3.5L4 14.2l5 5 11-11-1.5-1.4z" />
              </svg>
            </span>
          }
        </button>
      }
    </div>
  </ng-template>
</div>

